﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speaking Roses Test Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("inlineCSS",required:false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Speaking Roses Test", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="btn" href="@Url.Action("Index", "Home")" id="A1">
                            <span class="glyphicon glyphicon-home"></span> Home
                        </a>
                    </li>
                    <li>
                        <a class="btn" href="@Url.Action("Product", "Home")" id="A1">
                            <span class="glyphicon glyphicon-chevron-right"></span> Products
                        </a>
                    </li>
                    <li>
                        <a class="btn" href="@Url.Action("Vendor", "Home")" id="A1">
                            <span class="glyphicon glyphicon-chevron-right"></span> Vendors
                        </a>
                    </li>
                    <li>
                        <a class="btn" href="@Url.Action("Arvin", "Home")" id="A1">
                            <span class="glyphicon glyphicon-user"></span> Arvin
                        </a>
                    </li>
                    
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Speaking Roses</p>
        </footer>
    </div>
    @RenderSection("modals",required:false)

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
