﻿
@{
    ViewBag.Title = "Arvin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h2>Arvin: <a href="emailto:aragramon@gmail.com">aragramon@gmail.com</a></h2>
    <h3 class="lead"></h3>
    <h5>
       The custom class "configData" for retrieving due date data from config file resides in folder "/Common".
    </h5>
</div>
