﻿@model Flier.Models.HomeModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>
        Speaking Roses<h1>
            <h3 class="lead">This is the .NET Software Developer Applicant Test </h3>
            <h5>Create a simple	web	app	that allows	a user to manage a products database.</h5>
</div>

<div class="row">
    <div class="col-lg-12">
            <ul>
                <li>List, create, edit and delete products.</li>
                <li>List, create, edit and delete vendors. Each	vendor can have 1 or more products assigned	to them.</li>
                <li>Create	a	relational	design	that	allows	to	store	the	information	for	product	and
            vendors.	You	can	define	the	fields	needed	for	each	table.</li>
                <li>Architect	your	app	in	3	layers:	Data,	business	rules	and	presentation.</li>
            </ul>
    </div>

</div>