﻿
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>@ViewBag.Title.</h2>
<h3>Product List <button type="button" onclick="showModal('insert')" class="btn btn-primary btn3d"><span class="glyphicon glyphicon-plus"></span> Product</button></h3>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">

            <table id="mytable" class="table table-bordred table-striped">
                <thead>
                    @*<th><input type="checkbox" id="checkall" /></th>*@
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td><input type="checkbox" class="checkthis" /></td>*@
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.Price</td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" onclick="showModal('edit',@item.ProductID,'@item.Name','@item.Description',0)" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" onclick="showModal('delete',@item.ProductID)" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                        </tr>
                    }
                    @*<tr>
                        <td><input type="checkbox" class="checkthis" /></td>
                        <td>Mohsin</td>
                        <td>Irshad</td>
                        <td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
                        <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                        <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                    </tr>*@
                </tbody>

            </table>
            @*<div class="clearfix"></div>
            <ul class="pagination pull-right">
                <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            </ul>*@

        </div>

    </div>
</div>
@section modals{
<div class="modal fade" id="insert" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Create Product</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="addName">Name</label>
                    <input id="addName" name="addName" data-val-required="Name field is required." data-val="true"
                            class="input-validation-error form-control " type="text" placeholder="" value="">
                    <span class="text-danger field-validation-error invisible" data-valmsg-for="addName"
                          data-valmsg-replace="true">Name field is required.</span>
                </div>
                <div class="form-group">
                    <label for="addDescription">Description</label>
                    <textarea id="addDescription" rows="3" class="form-control" placeholder=""></textarea>

                </div>
                <div class="form-group">
                    <label for="addPrice">Price</label>
                    <input id="addPrice" class="form-control " type="text" value="">
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" onclick="insertProduct()" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Edit Product</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="editName">Name</label>
                    <input id="editName" name="editName" data-val-required="Name field is required." data-val="true"
                            class="input-validation-error form-control " type="text" placeholder="" value="">
                    <span class="text-danger field-validation-error invisible" data-valmsg-for="editName"
                          data-valmsg-replace="true">Name field is required.</span>
                </div>
                <div class="form-group">
                    <label for="editDescription">Description</label>
                    <textarea id="editDescription" rows="3" class="form-control" placeholder=""></textarea>
                    
                </div>
                <div class="form-group">
                    <label for="editPrice">Price</label>
                    <input id="editPrice" class="form-control " type="text" value="">
                </div>
            </div>
            <div class="modal-footer ">
                <input type="hidden" id="editproductID" />
                <button type="button" onclick="updateProduct()" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

            </div>
            <div class="modal-footer ">
                <input type="hidden" id="deleteproductID" />
                <button type="button" onclick="deleteProduct()" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>    
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#mytable #checkall").click(function () {
                if ($("#mytable #checkall").is(':checked')) {
                    $("#mytable input[type=checkbox]").each(function () {
                        $(this).prop("checked", true);
                    });

                } else {
                    $("#mytable input[type=checkbox]").each(function () {
                        $(this).prop("checked", false);
                    });
                }
            });

            $("[data-toggle=tooltip]").tooltip();

        });

        var showModal = function (type, id, name, desc, price) {
            if (type == 'edit') {
                $("#editName").val(name);
                $("#editDescription").val(desc);
                $("#editPrice").val(price);
                $("#editproductID").val(id);

                $("#edit").modal();
            }
            else if(type == 'insert'){
                $("#insert").modal();
            }
            else if (type == 'delete') {
                $("#deleteproductID").val(id);
                $("#delete").modal();
            }
        }

        var insertProduct = function () {
            if ($("#addName").val() == '')
            {
                $('#addName.input-validation-error').parents('.form-group').addClass('has-error');
                $('#addName.input-validation-error').next('.field-validation-error').removeClass('invisible');
                return;
            }
            else {
                $('#addName.input-validation-error').parents('.form-group').removeClass('has-error');
                $('#addName.input-validation-error').next('.field-validation-error').addClass('invisible');
            }

            $.ajax({
                type: "POST",
                url: "/Home/InsertProduct",
                data: '{name: "' + $("#addName").val() + '", description: "' + $("#addDescription").val() + '", price: "' + $("#addPrice").val() + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert(response);
                    window.location.href = '@Url.Content("~/Home/Product")';
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }


        var updateProduct = function () {
            if ($("#editName").val() == '') {
                $('#editName.input-validation-error').parents('.form-group').addClass('has-error');
                $('#editName.input-validation-error').next('.field-validation-error').removeClass('invisible');
                return;
            }
            else {
                $('#editName.input-validation-error').parents('.form-group').removeClass('has-error');
                $('#editName.input-validation-error').next('.field-validation-error').addClass('invisible');
            }

            $.ajax({
                type: "POST",
                url: "/Home/UpdateProduct",
                data: '{productid:"' + $("#editproductID").val() + '", name: "' + $("#editName").val() + '", description: "' + $("#editDescription").val() + '", price: "' + $("#editPrice").val() + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert(response);
                    window.location.href = '@Url.Content("~/Home/Product")';
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }


        var deleteProduct = function () {

            $.ajax({
                type: "POST",
                url: "/Home/DeleteProduct",
                data: '{productid:"' + $("#deleteproductID").val() + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert(response);
                    window.location.href = '@Url.Content("~/Home/Product")';
                },
                failure: function (response) {
                    alert(response.responseText);
                    window.location.href = '@Url.Content("~/Home/Product")';
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

    </script>
}