﻿@{
    ViewBag.Title = "Vendors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <button type="button" onclick="showModal('addVendor')" class="btn btn-primary btn3d"><span class="glyphicon glyphicon-plus"></span> Vendor</button>
    <hr />
    @foreach (var vendor in Model)
    {
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@vendor.Name</h3>
                <button class="btn btn-info btn-xs" onclick="showModal('editVendor',@vendor.VendorID,'','@vendor.Name','@vendor.Description')"><span class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-danger btn-xs" onclick="showModal('deleteVendor',@vendor.VendorID)" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
                <h4>@vendor.Description</h4>
                <hr />
                <div class="col-md-12">
                    <h4>Products <button type="button" onclick="showModal('addProduct',@vendor.VendorID)" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-plus"></span></button></h4> 
                    <div class="table-responsive">
                        <table id="mytable" class="table table-bordred table-striped">
                            <thead>
                                <th>Product Name</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </thead>
                            <tbody>
                                @foreach (var item in vendor.Products)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Description</td>
                                        <td>@item.Price</td>
                                        <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" onclick="showModal('editProduct','',@item.ProductID,'@item.Name','@item.Description',0)"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                                        <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" onclick="showModal('deleteProduct','',@item.ProductID)" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>

@section inlineCSS{
    <style type="text/css">
        
        .clickable{
            cursor: pointer;   
        }

        .panel-heading span {
	        margin-top: -20px;
	        font-size: 15px;
        }
    </style>    
}

@section modals{
<div class="modal fade" id="vendor" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Enter Your Details</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="vname">Name</label>
                    <input id="vname" class="input-validation-error form-control " type="text" placeholder="Vendor name" required>
                    <span class="text-danger field-validation-error invisible" data-valmsg-for="vname"
                          data-valmsg-replace="true">Name field is required.</span>
                </div>
                
                <div class="form-group">
                    <label for="vdesc">Description</label>
                    <textarea id="vdesc" rows="3" class="form-control" placeholder="vendor description"></textarea>
                </div>
            </div>
            <div class="modal-footer ">
                <input type="hidden" id="vvendorID" />
                <button id="vaction" type="button" onclick="vSave()" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


    <div class="modal fade" id="product" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Enter Your Details</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="pname">Name</label>
                        <input id="pname" class="input-validation-error form-control " type="text" placeholder="Name" required>
                        <span class="text-danger field-validation-error invisible" data-valmsg-for="pname"
                              data-valmsg-replace="true">Name field is required.</span>
                    </div>
                    <div class="form-group">
                        <label for="pdesc">Description</label>
                        <textarea id="pdesc" rows="3" class="form-control" placeholder="Short Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="pprice">Price</label>
                        <input id="pprice" class="form-control " type="text" placeholder="0" value="0">
                    </div>
                    
                </div>
                <div class="modal-footer ">
                    <input type="hidden" id="pproductID" />
                    <input type="hidden" id="pvendorID" />
                    <button type="button" id="paction" onclick="pSave()" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

                </div>
                <div class="modal-footer ">
                    <input type="hidden" id="deltype" />
                    <input type="hidden" id="delitemID" />
                    <button type="button" onclick="DeleteItem()" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}

@section scripts{
    <script type="text/javascript">
        $(document).on('click', '.panel-heading span.clickable', function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.panel').find('.panel-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            } else {
                $this.parents('.panel').find('.panel-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            }
        })

        $(document).ready(function () {
            $("#mytable #checkall").click(function () {
                if ($("#mytable #checkall").is(':checked')) {
                    $("#mytable input[type=checkbox]").each(function () {
                        $(this).prop("checked", true);
                    });

                } else {
                    $("#mytable input[type=checkbox]").each(function () {
                        $(this).prop("checked", false);
                    });
                }
            });

            $("[data-toggle=tooltip]").tooltip();
        });

        var showModal = function (type, vendorid, productid, name, desc, price) {
            if(type == "addVendor"){
                $("#vname").val('');
                $("#vdesc").val('');
                $("#vvendorID").val('');
                $("#vendor").modal();
            }
            else if(type == "editVendor"){
                $("#vname").val(name);
                $("#vdesc").val(desc);
                $("#vvendorID").val(vendorid);
                $("#vendor").modal();
            }
            else if(type == "deleteVendor"){
                $("#deltype").val('vendor');
                $("#delitemID").val(vendorid);
                $("#delete").modal();
            }
            else if(type == "addProduct"){
                $("#pname").val('');
                $("#pdesc").val('');
                $("#pprice").val(0);
                $("#pproductID").val('');
                $("#pvendorID").val(vendorid);
                $("#product").modal();
            }
            else if(type == "editProduct"){
                $("#pname").val(name);
                $("#pdesc").val(desc);
                $("#pprice").val(price);
                $("#pproductID").val(productid);
                $("#pvendorID").val(vendorid);
                $("#product").modal();
            }
            else if(type == "deleteProduct"){
                $("#deltype").val('product');
                $("#delitemID").val(productid);
                $("#delete").modal();
            }

        }

        var vSave = function () {
            if ($("#vname").val() == '')
            {
                $('#vname.input-validation-error').parents('.form-group').addClass('has-error');
                $('#vname.input-validation-error').next('.field-validation-error').removeClass('invisible');
                return;
            }
            else {
                $('#vname.input-validation-error').parents('.form-group').removeClass('has-error');
                $('#vname.input-validation-error').next('.field-validation-error').addClass('invisible');
            }

            if($("#vvendorID").val() == '')
                insertVendor();
            else
                updateVendor();
        }

        var pSave = function () {
            if ($("#pname").val() == '')
            {
                $('#pname.input-validation-error').parents('.form-group').addClass('has-error');
                $('#pname.input-validation-error').next('.field-validation-error').removeClass('invisible');
                return;
            }
            else {
                $('#pname.input-validation-error').parents('.form-group').removeClass('has-error');
                $('#pname.input-validation-error').next('.field-validation-error').addClass('invisible');
            }

            if($("#pproductID").val() == '')
                insertProduct();
            else
                updateProduct();
        }

        var DeleteItem = function() {
            if($("#deltype").val() == 'product')
                deleteProduct();
            else
                deleteVendor();
        }

        var insertVendor = function () {
            $.ajax({
                type: "POST",
                url: "/Home/InsertVendor",
                data: '{name: "' + $("#vname").val() + '", description: "' + $("#vdesc").val() + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert(response);
                    window.location.href = '@Url.Content("~/Home/Vendor")';
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }


        var updateVendor = function () {
            $.ajax({
                type: "POST",
                url: "/Home/UpdateVendor",
                data: '{vendorid:"' + $("#vvendorID").val() + '", name: "' + $("#vname").val() + '", description: "' + $("#vdesc").val() + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert(response);
                    window.location.href = '@Url.Content("~/Home/Vendor")';
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }


        var deleteVendor = function () {
            $.ajax({
                type: "POST",
                url: "/Home/DeleteVendor",
                data: '{vendorid:"' + $("#delitemID").val() + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert(response);
                    window.location.href = '@Url.Content("~/Home/Vendor")';
                },
                failure: function (response) {
                    alert(response.responseText);
                    window.location.href = '@Url.Content("~/Home/Vendor")';
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        var insertProduct = function () {
            $.ajax({
                type: "POST",
                url: "/Home/InsertVendorProduct",
                data: '{name: "' + $("#pname").val() + '", description: "' + $("#pdesc").val() + '", price: "' + $("#pprice").val() + '", vendorid: "' + $("#pvendorID").val() + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert(response);
                    window.location.href = '@Url.Content("~/Home/Vendor")';
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }


        var updateProduct = function () {
            $.ajax({
                type: "POST",
                url: "/Home/UpdateProduct",
                data: '{productid:"' + $("#pproductID").val() + '", name: "' + $("#pname").val() + '", description: "' + $("#pdesc").val() + '", price: "' + $("#pprice").val() + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert(response);
                    window.location.href = '@Url.Content("~/Home/Vendor")';
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }


        var deleteProduct = function () {

            $.ajax({
                type: "POST",
                url: "/Home/DeleteVendorProduct",
                data: '{productid:"' + $("#deleteproductID").val() + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert(response);
                    window.location.href = '@Url.Content("~/Home/Vendor")';
                },
                failure: function (response) {
                    alert(response.responseText);
                    window.location.href = '@Url.Content("~/Home/Vendor")';
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

    </script>    
}

